body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color:  rgb(17, 32, 148);
  color: #fff;
  text-align: center;
}
.container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  /* background-color: #133f7895; */
  background-color: #513d9882;
}
input, button {
  /* width: 100%; */
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
button{
  background-color: rgb(17, 32, 148);
  color: #fff;
  width: 200px;
}
input{
  border: 1.5px solid  rgb(17, 32, 148);
  width: 300px;
}
.expenses-list {
  margin-top: 20px;
}
.expense {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.expense:last-child {
  border-bottom: none;
}



